@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.top{
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding-left: 15%;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
}

.header a{
    display: flex;
    justify-content: flex-start;
}

.header h1{
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
}

.awesome{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    flex-direction: column;
}

.awesome img{
    display: flex;
    align-items: right;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.awesome img{
    display: flex;
    width: auto;
    height: 100px;
    background-color: #1F2937;
    width: 30%;
}

.random{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.random .boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.random .box{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    flex-wrap: wrap;
    width: 140px;
    height: auto;
    color: rgb(165, 165, 165);
}

.random h1{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-content: flex-start;
    justify-content: center;
}

.random img{
    display: flex;
    width: auto;
    height: 100px;
    outline: #3882F6 solid 5px;
    border-radius: 15%;
}

.quote{
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote p{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up{
    display: flex;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    border-radius: 5px;
    width: 50%;
}

.sign-up-text{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding: 15px 60px;
}

.button{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    text-align: center;
    color: white;
}

button{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    border-color: white;
}

a{
    text-decoration-line: none;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}